/** Width between 1200x to 0 */

@media (min-width: 1200px) {

}

/** Width between 992px to 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
  
  /* Header Styles */

  #header {
    background-image: linear-gradient(to right, #090909, #090909), url("../images/header.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    height: 1199px;
    width: 100%;
  }
  
}

/** Width between 768px to 991px */

@media (min-width: 768px) and (max-width: 991px) {
  /* Navigation Styles */
  nav {
    padding: 10px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    /* border-top: 1px solid #333; */
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* Header Styles */

  #header {
    background-image: linear-gradient(to right, #090909, #090909), url("../images/header.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    height: 991px;
    width: 100%;
  }

  /* About Me Styles */

  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-content .p-heading {
    font-size: 20px;
  }
  #about .about-content .p-body {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* Contact Styles */

  .contact-map {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: grayscale(100%) invert(100%);
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    -ms-filter: grayscale(100%) invert(100%);
    -o-filter: grayscale(100%) invert(100%);
  }

  /* Footer Styles */

  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 767px to 0 */

@media (max-width: 767px) {
  /* Navigation Styles */

  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    /* border-top: 1px solid #333; */
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* Header Styles */

  #header {
    background-image: linear-gradient(to right, #090909, #090909), url("../images/header.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    height: 767px;
    width: 100%;
  }

  /* About Me Styles */

  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-content .p-heading {
    font-size: 20px;
  }

  #about .about-content .p-body {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* Education Styles */
  .education-wrapper { 
    position: relative;
    margin-left: 60px; 
  }

  /* Contact Styles */

  .contact-map {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: grayscale(100%) invert(100%);
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    -ms-filter: grayscale(100%) invert(100%);
    -o-filter: grayscale(100%) invert(100%);
  }

  /* Footer Styles */

  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 600px to 0 */

@media (max-width: 600px) {
  /* Navigation Styles */

  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    /* border-top: 1px solid #333; */
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* Header Styles */

  #header {
    background-image: linear-gradient(to right, #090909, #090909), url("../images/header.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
  }
  
  /* About Me Styles */

  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-content .p-heading {
    font-size: 20px;
  }

  #about .about-content .p-body {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* Contact Styles */

  .contact-map {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: grayscale(100%) invert(100%);
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    -ms-filter: grayscale(100%) invert(100%);
    -o-filter: grayscale(100%) invert(100%);
  }

  /* Footer Styles */

  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 480px to 0 */

@media (max-width: 480px) {
  /* Navigation Styles */

  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    /* border-top: 1px solid #333; */
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* Header Styles */

  #header {
    background-image: linear-gradient(to right, #090909, #090909), url("../images/header.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    height: 480px;
    width: 100%;
  }
  
  /* About Me Styles */

  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-content .p-heading {
    font-size: 20px;
  }

  #about .about-content .p-body {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* Contact Styles */

  .contact-map {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: grayscale(100%) invert(100%);
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    -ms-filter: grayscale(100%) invert(100%);
    -o-filter: grayscale(100%) invert(100%);
  }

  /* Footer Styles */

  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 320px to 0 */

@media (max-width: 320px) {
  /* Navigation Styles */

  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    /* border-top: 1px solid #333; */
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* Header Styles */

  #header {
    background-image: linear-gradient(to right, #090909, #090909), url("../images/header.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    height: 320px;
    width: 100%;
  }
  
  /* About Me Styles */

  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-content .p-heading {
    font-size: 20px;
  }

  #about .about-content .p-body {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* Contact Styles */

  .contact-map {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: grayscale(100%) invert(100%);
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    -ms-filter: grayscale(100%) invert(100%);
    -o-filter: grayscale(100%) invert(100%);
  }

  /* Footer Styles */

  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}
