/* General Styles */

body {
  background: #050505;
  color: #898989;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #fff;
  font-weight: 600;
}

h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #fff;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color: #999999;
  text-decoration: underline;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  font-family: 'Roboto', sans-serif;
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::-moz-selection {
  background: #999999;
  color: #fff;
}

::selection {
  background: #999999;
  color: #fff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.pad-div {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.pad-section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.pad-sections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.parallax-shadow {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 8rem 0;
}

.typed {
  font-family: 'Poppins', helvetica;
}

/* Navigation Styles */

nav {
  position: fixed;
  background: #050505;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  display: none;
  /* opacity: .5; */
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  float: right;
  line-height: 32px;
  margin-bottom: 0;
  padding-top: 16px;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: 'Poppins', helvetica;
  font-size: 14px;
  margin-left: 40px;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 14px;
  color: #fff;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-stretch: extra-expanded;
  float: left;
  color: #fff;
}

.logo img {
  width: 100px;
  height: 50px;
}

.responsive {
  display: none;
  font-size: 23px;
}

.active {
  color: #999999;
}

.glitch-img {
  position: absolute; 
  /* width: 100%;  */
  /* height: 100vh;  */
  top: 0; 
  left: 0;
  background-position: center;  
  background-size: cover;
  z-index: -10;
} 

/* Header Styles */

#header {
  background: url("../images/header.jpeg") repeat scroll center center / cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

#header .header-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.header-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.header-content p {
  font-size: 13px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.header-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-content .list-social li i {
  color: #fff;
  font-size: 15px;
}

/* About Me Styles */

#about {
  width: 100%;
  height: auto;
  background: #050505;
  margin-top: 50px;
}

#about .div-img-bg {
  background-image: url("../images/profile.jpeg");
  padding-bottom: 30px;
  /* border: 20px solid #333333; */
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 30px;
  height: 400px;
  object-fit: cover;
}

#about .about-content .p-heading {
  font-family: 'Poppins', helvetica;
  font-size: 24px;
  text-align: left;
}

#about .about-content .p-body {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

.about-skills {
  margin-top: 30px;
}

.radial-area {
  margin-bottom: 20px;
}

.radial-progress { 
  position: relative; 
  max-width: 200px; 
  margin: 0 auto; 
}

.radial-progress .progressbar-text { 
  font-size: 2em; 
  font-weight: 500; 
  padding-bottom: 25px !important; 
  color: #fff !important; 
}

.radial-progress .progressbar-text:after { 
  content:'%'; 
}

.radial-progress .progress-title { 
  font-size: 1em;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  width: 100%;
  letter-spacing: 0; 
  text-align: center; 
  transform: translate(-50%, 15px); 
  color: #999999; 
}

/* Experiences Styles */

#experiences { 
  color: #fff; 
}

.experience-heading {
  font-family: 'Poppins', helvetica;
}

.experience-subheading {
  font-family: 'Roboto', sans-serif;
  color: #1f1f1f;
  margin-bottom: 50px;
}

.experience {
  margin-bottom: 50px;
}

.experience-position {
  font-family: 'Poppins', helvetica;
  text-transform: uppercase;
}

.experience-company {
  color: #1f1f1f;
  text-transform: uppercase;
}

.experience-date {
  margin-top: 10px;
  text-transform: uppercase;
}

.experience-summary {
  margin-top: 30px;
  margin-bottom: 30px;
}

.experience .list {
  margin-bottom: 30px;
}

.experience .list > li { 
  display: block; 
  position: relative; 
  margin-bottom: 10px; 
  padding-left: 20px; 
}

.experience .list > li:before { 
  content: ''; 
  position: absolute; 
  top: 50%; 
  left: 0; 
  height: 10px; 
  width: 10px; 
  margin-top: -5px; 
  display: block; 
  border-radius: 10px; 
  border: 2px solid #fff; 
}

/* Education Styles */

#education { 
  color: #fff; 
}

.education-heading {
  font-family: 'Poppins', helvetica;
}

.education-subheading {
  font-family: 'Roboto', sans-serif;
  color: #1f1f1f;
  margin-bottom: 50px;
}

.education {
  margin-bottom: 50px;
}

.education-degree {
  font-family: 'Poppins', helvetica;
  text-transform: uppercase;
}

.education-from {
  color: #1f1f1f;
  text-transform: uppercase;
}

.education-date {
  margin-top: 10px;
  text-transform: uppercase;
}

.education-summary {
  margin-top: 30px;
  margin-bottom: 30px;
}

.education-wrapper { 
  position: relative; 
}

.education-wrapper:after { 
  content:''; 
  position: absolute; 
  top: 8px; 
  bottom: 0; 
  left: -51px;
  width: 2px; 
  background: #ccc; 
}

.education-wrapper .education { 
  position: relative; 
}

.education-wrapper .education:after { 
  content:''; 
  position: absolute; 
  top: 8px; 
  left: -58px; 
  width: 16px; 
  height: 16px; 
  border-radius: 10px; 
  z-index: 1;
  /* box-shadow: 0 0 0 8px rgba(255,171,0, .4);  */
  box-shadow: 0 0 0 8px #333; 
  background: #fff; 
}

/* Stats Styles */

#stats {
  background-image: url("../images/header.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.stat-box {
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  background: #050505;
  opacity: .8;
}

.counter-icon {
  margin-bottom: 1rem;
  padding: 20px;
}

.stat-count .counter {
  font-family: 'Poppins', helvetica;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #fff;
}

/* Contact Styles */

#contact {
  height: auto;
  width: 100%;
}

.contact-header {
  font-family: 'Poppins', helvetica;
  margin-bottom: 30px;
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
}

#contact input, #contact textarea {
  width: 100%;
}


#contact  #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact  #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact #sendmessage.show, #contact #errormessage.show, #contact .show {
  display: block;
}

#contact .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

.contact-map {
  height: 300px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

/* Footer Styles */

#footer {
  background: #050505;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #1f1f1f;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-family: 'Poppins', helvetica;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 13px;
}

/* Back to Top Styles */

.back-to-top {
  position: fixed;
  display: none;
  background: #999999;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}